@font-face {
    font-family: myFont;
    src: url(fonts/asenine.ttf);
}

@font-face {
    font-family: myWelcome;
    src: url(fonts/lumpia-brush-free.regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    /* border: 3px solid green; */
    width: 100%;
    overflow-x: hidden !important;
}

@media (min-width: 1020px) {
    body {
        padding-right: 250px;
    }
}

/* ===============
   Scroll Stuff
   ===============*/

/* .scroll-down .header {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .header {
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
} */

/* ===============
   header 
   ===============*/

.scroll-margin {
    scroll-margin-top: 110px;
}

@media (min-width: 330px) {
    .scroll-margin {
        scroll-margin-top: 70px;
    }
}

header {
    /* border: 3px solid red; */
    width: 100vw;
    height: 110px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

.container {
    /* border: 3px solid rebeccapurple; */
    background: rgb(20, 60, 80);
    /* background: linear-gradient(rgb(220, 235, 255) 0%, rgba(220, 235, 255, 0.7) 60%, rgba(255, 255, 255, 0.1)); */
    box-shadow: 0 0 20px rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0.7rem;
}

.site-title a {
    color: white;
    text-decoration: none;
}
   
.site-title h1 {
    /* border: 3px solid yellow; */
    font-family: myFont;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

.top{
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
    z-index: 9999;
}

.nav-btn{
    position: relative;
    /* right: 4vw; */
    z-index: 2;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

#bar2, #bar3{
    margin-top: 4px;
}

.navigation{
    /* border: 3px solid blue; */
    position: fixed;
    top: 0;
    /* right: 0; */
    right: -100%;
    width: 100vw;
    max-width: 250px;
    height: 100vh;
    background: white;
    transition: all 0.5s ease-in-out;
    z-index: -1;
    overflow: scroll;
}

.navigation::-webkit-scrollbar {
    display: none;
}

.nav {
    /* border: 3px solid yellow; */
    background: white;
    position: absolute;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 2rem;
    top: 8.2rem;
    left: 0;
    right: 0;
}

.navigation ul li {
    /* border: 3px solid green; */
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    text-align: left;
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 0.7rem;
    padding-bottom: 0.8rem;
    margin-top: 1.3rem;
    border-bottom: 1pt solid rgba(0, 0, 0, 0.2);
}

.navigation ul .navigation-home {
    margin-top: 0;
}

.a-two, .a-two-small {
    text-decoration: none;
    color: black;
}

.navigation ul .a-two-small-summer li,
.navigation ul .a-two-small-winter li {
    /* border: 3px solid blue; */
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    border-bottom: 1pt solid rgba(0, 0, 0, 0.2);
    letter-spacing: 0.7px;
}

.navigation ul .a-two-small-summer li {
    margin-top: 0.8rem;
}

.navigation ul .a-two-small-winter li {
    margin-top: 0.8rem;
    margin-bottom: 1.1rem;
}

.a-two, .a-two-small, .hamburger {
    cursor: pointer;
}

.a-two-small-summer,
.a-two-small-winter {
    display: none;
}

.a-two-small-summer.show,
.a-two-small-winter.show {
        display: inherit;
}

.nav ul li:hover {
    color: rgb(10, 100, 170);
    border-bottom: 2px solid rgb(20, 60, 80);
    font-size: 0.9rem;
    transition: 0.1s;
}

.nav ul .a-two-small li:hover {
    color: rgb(10, 100, 170);
    border-bottom: 2px solid rgb(20, 60, 80);
    font-size: 0.8rem;
    transition: 0.1s;
}

.hamburger.bar{
    position: fixed;
}

.hamburger{
    border: 0;
    /* border: 1px solid yellow; */
    background: 0;
}

.navigation.active{
    right: 0;
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

.hamburger.open #bar1{
    /* background-color: white; */
    transform: rotate(45deg) translate(4px, 6px);
}

.hamburger.open #bar2{
    background-color: transparent;
    transform: translateX(-30px);
}

.hamburger.open #bar3{
    /* background-color: white; */
    transform: rotate(-45deg) translate(4px, -6px);
}

@media (min-width: 260px) {
    .nav {
        top: 7.3rem;
    }
}

@media (min-width: 330px) {
    header {
        height: 70px;
    }

    .container {
        text-align: start;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5%;
    }
    

    .site-title h1 {
        font-size: 1.8rem;
        text-align: left;
    }
    
    .top {
        margin-top: 0;
    }

    .nav {
        top: 6rem;
    }

    .navigation ul li{
        font-size: 0.9rem;
        /* padding-left: 1rem; */
        /* margin: 1.5rem 1.5rem 0; */
    }

    .nav ul li:hover, .nav ul li:focus {
        font-size: 0.97rem;
    }
}

@media (min-width: 380px) {
    .site-title h1 {
        font-size: 2rem;
    }
}

@media (min-width: 710px) {
    .site-title h1 {
        font-size: 2.2rem;
    }
}

@media (min-width: 1020px) {
    .top {
        display: none;
    }

    .navigation {
        right: 0;
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
}

/* ===============
slide show 
===============*/

.main-container {
    /*!!! ACHTUNG !!! Unbedingt Border aktiv lassen falls slide nicht funktioniert !! */
    /* border: 0.0000000000001pt solid black; */
    position: sticky;
    position: -webkit-sticky;
    top: 110px;
    z-index: -1;
    overflow: hidden;
}

.main-container-home {
    background-image: url(images/ötztal-tvb/gries.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(100, 100, 100);
    /*FÜR BLEND-MODE IMMER AUCH BACKGROUND COLOR VERWENDEN!*/
    background-blend-mode: multiply;
}

.home-img-div {
    background-image: url(images/ötztal-tvb/gries.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(100, 100, 100);
    min-height: 65vh;
    height: calc(100vw*0.65);
    max-height: 80vh;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.home-img-div img {
    width: 100%;
}

.copyright-container-home {
    /* border: 3px solid yellow; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: black;
    padding: 1rem;
    margin-top: -77px;
}

.copyright {
    /* border: 3px solid red; */
    display: flex;
    padding: 0.2rem;
    cursor: pointer;
    align-self: center;
    margin-left: 1rem;
}

.copyright.show {
    background-color: rgba(0, 0, 0, 0.9);
}

.copyright-p {
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.3rem;
    display: none;
}

.copyright-p.show {
    display: inherit;
}

.fa-camera {
    font-size: 0.6rem;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    align-self: center;
}

.fa-camera.show {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0.3rem;
}

.main-one, .main-two, .main-three, .main-four, .main-five {
    /* border: 3px solid green; */
    position: absolute;
    background-size: cover;
    background-position: center;
    background-color: rgb(120, 120, 120);
/*FÜR BLEND-MODE IMMER AUCH BACKGROUND COLOR VERWENDEN!*/
    background-blend-mode: multiply;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.main-one {
    /* border: 3px solid blueviolet; */
    background-image: url(images/gries-neu.jpeg);
    animation: cool1 20s ease-in-out infinite;
}
.main-two {
    /* border: 3px solid orangered; */
    background-image: url(images/haus-neu.jpeg);
    animation: cool2 20s ease-in-out infinite;
}
.main-three {
    /* border: 3px solid green; */
    background-image: url(images/küche.jpeg);
    animation: cool3 20s ease-in-out infinite;
}
.main-four {
    /* border: 3px solid yellow; */
    background-image: url(images/schlafzimmer-neu.jpeg);
    animation: cool4 20s ease-in-out infinite;
}
.main-five {
    /* border: 3px solid red; */
    background-image: url(images/bad.jpeg);
    animation: cool5 20s ease-in-out infinite;
}

.slide-container {
    /* border: 3px solid pink; */
    max-width: 600px;
    margin: auto;
    min-height: fit-content;
    overflow: hidden;
    position: relative;
}

.slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.slide1 {
    display: block;
    width: 100%;
    object-fit: cover;
    position: relative;
    animation: cool1 20s ease-in-out infinite;
}

.slide2 {
    animation: cool2 20s ease-in-out infinite;
}

.slide3 {
    animation: cool3 20s ease-in-out infinite;
}

.slide4 {
    animation: cool4 20s ease-in-out infinite;
}

.slide5 {
    animation: cool5 20s ease-in-out infinite;
}

@keyframes cool1 {
    0% {right: 0%;}
    24% {right: 0%;}
    25% {right: -100%;}
    96% {right: -100%;}
    100% {right: 0%;}
}

@keyframes cool2 {
    0% {right: -100%;}
    16% {right: -100%;}
    20% {right: 0%;}
    96% {right: 0%;}
    100% {right: 100%;}
}

@keyframes cool3 {
    0% {right: -100%;}
    36% {right: -100%;}
    40% {right: 0%;}
    96% {right: 0%;}
    100% {right: 100%;}
}

@keyframes cool4 {
    0% {right: -100%;}
    56% {right: -100%;}
    60% {right: 0%;}
    96% {right: 0%;}
    100% {right: 100%;}
}

@keyframes cool5 {
    0% {right: -100%;}
    76% {right: -100%;}
    80% {right: 0%;}
    96% {right: 0%;}
    100% {right: 100%;}
}

/*==================
@media - slide show 
==================*/

@media (min-width: 330px) {
    .main-container {
        top: 70px;
    }
}

@media (min-width: 900px) {
    /* .main-container {
        min-height: 100vh;
    } */

    .slide-container {
        /* margin: 70px auto 40px; */
        box-shadow: 0 0 20px rgb(170, 170, 170);
    }
    /* .slide-container {
        width: 50VW;
        overflow: inherit;
    }

    @keyframes cool1 {
        0% {right: -100%;}
        100% {right: -100%;}
    }

    .slide2, .slide3, .slide5 {
        z-index: -9999;
    }

    @keyframes cool2 {
        0% {right: 0%;}
        100% {right: 0%;}
    }
    
    @keyframes cool3 {
        0% {right: -100%;}
        21% {right: -100%;}
        25% {right: 0%;}
        96% {right: 0%;}
        100% {right: 100%;}
    }
    
    @keyframes cool4 {
        0% {right: -200%;}
        46% {right: -200%;}
        50% {right: -100%;}
        96% {right: -100%;}
        100% {right: 100%;}
    }
    
    @keyframes cool5 {
        0% {right: -100%;}
        71% {right: -100%;}
        75% {right: 0%;}
        96% {right: 0%;}
        100% {right: 100%;}
    } */
}

/* ===============
   welcome 
   ===============*/

.welcome-main {
    background: white;
    font-size: 1rem;
    padding-top: 2rem;
}

.welcome-container {
    /* border: 3px solid yellow; */
    background-image: url(images/ötztal-tvb/w-stimmung5.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(70, 70, 70);
/*FÜR BLEND-MODE IMMER AUCH BACKGROUND COLOR VERWENDEN!*/
    /* background-blend-mode: soft-light; */
    /* background-color: rgb(247, 239, 220); */
    /* background-color: rgb(245, 245, 245); */
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    z-index: -999;
}

.welcome-container h1 {
    /* border: 3px solid rebeccapurple; */
    font-family: myWelcome;
    font-size: 2.5rem;
    font-weight: 100;
    /* color: black; */
    color: rgb(20, 60, 80);
    /* color: rgb(20, 60, 80); */
    /* text-shadow: 0 0 7px black; */
    margin-bottom: 3rem;
    letter-spacing: 1px;
}

.welcome-container p {
    /* border: 3px solid green; */
    color: black;
    /* text-shadow: 0px 0px 4px white; */
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.5;
    z-index: 99999;
}

.welcome-content {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
}

.welcome-content-child-left {
    /* border: 3px solid green; */
    background: rgba(250, 250, 250, 0.7);
    width: 70%;
    max-width: 230px;
    padding: 0.5rem;
    padding-top: 3rem;
}

.welcome-content-child-left-parent {
    /* border: 3px solid blue; */
    width: 100%;
    max-width: 195px;
    margin: 0 auto;
    height: 100%;
    padding-left: 0.3rem;
}

.welcome-content-child-right {
    width: 0;
    height: 0;
    border: 10vw solid transparent;
    border-bottom: 0;
    border-left: 0;
    border-top: 300px solid rgba(250, 250, 250, 0.7);
    z-index: 0;
}


@media (min-width: 500px) {
    .welcome-container {
        height: 400px;
    }

    .welcome-container h1 {
        font-size: 3rem;
        margin-bottom: 3.7rem;
    }

    .welcome-container p {
        font-size: 1rem;
    }

    .welcome-content-child-left {
        width: 50%;
        max-width: 350px;
        padding-top: 4.5rem;
    }
    
    .welcome-content-child-left-parent {
        max-width: 240px;
        padding-left: 0.5rem;
    }

    .welcome-content-child-right {
        border-top: 400px solid rgba(250, 250, 250, 0.7);
    }
}

@media (min-width: 710px) {
    .welcome-container h1 {
        font-size: 3.7rem;
    }

    .welcome-content-child-left {
        padding-top: 4rem;
    }
}

@media (min-width: 1300px) {
    .welcome-content-child-left {
        max-width: 440px;
    }
}

/* ===============
   contact form 
   ===============*/

.form-container {
    background-color: white;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.form-section-one {
    /* border: 3px solid red; */
    width: 90%;
    margin: 0 auto;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    padding: 2rem;
    background-color: rgb(220, 230, 250);
}

.contact-logo {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.contact-logo:hover, .contact-logo:focus {
    scale: 1.05;
}

.contact-logo-div {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.contact-header {
    font-size: 1.25rem;
    letter-spacing: 1px;
}

.contact-logo img {
    /* border: 3px solid rebeccapurple; */
    width: 100%;
    max-width: 30px;
    margin-bottom: 0.6rem;
}

.contact-logo p {
    /* border: 3px solid yellow; */
    font-weight: bold;
    margin-bottom: 0.1rem;
    text-align: center;
}

.contact-number-home {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.contact-email-home {
    text-align: center;
    font-weight: bold;
    color: black;
}

.contact-logo-home {
    text-decoration: none;
    color: black;
}

.form-section-two {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;

    /* border: 3px solid red; */
    overflow: hidden;
    height: fit-content;
    background-color: rgb(247, 239, 220);
}

.form-section-two-container {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    width: 200%;
    transition: 0.7s;
}

.form {
    /* border: 3px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}

.form-top {
    /* border: 3px solid brown; */
    letter-spacing: 1px;
}

.form-header {
    font-size: 1.25rem;
}

.form-left-right {
    /* border: 3px solid orangered; */
    height: auto;
    margin-bottom: 1rem;
}

.form-left {
    /* border: 3px solid green; */
    width: 100%;
    max-width: 300px;
}

.form-right {
    /* border: 3px solid blue; */
    width: 100%;
    max-width: 300px;
}

.form-bottom {
    /* border: 3px solid black; */
    display: flex;
    height: fit-content;
    margin-top: auto;
}

.form-header {
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.next-p, .back-p, .next-btn, .back-btn {
    font-size: 0.9rem;
    padding: 0.35em 0.5rem;
    width: fit-content;
    height: fit-content;
    border-bottom: 1px solid black;
    letter-spacing: 0.6px;
    font-weight: bold;
}

.next-btn, .back-btn {
    background: 0;
    color: black;
    font-weight: bold;
    padding: 0.2em 0.5rem;
    border: none;
    border-bottom: 1px solid black;
}

.next-p a, .back-p a {
    color: black;
    text-decoration: none;
}

.next-btn, .next-p {
    margin-left: auto;
}

.back-btn, .back-p {
    margin-right: auto;
}

.sub-btn {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 170);
    box-shadow: 4px 4px 5px rgb(50, 50, 50);
    padding: 0.4rem 0.9rem;
    letter-spacing: 0.8px;
}

input, select, textarea {
    border: 1px solid black;
    display: flex;
    background: 0;
    padding: 0.4rem 0.3rem;
    margin-top: 0.5rem;
    outline: none;
}

::placeholder {
    font-style: italic;
    font-size: 0.8rem;
    color: rgb(150, 150, 150);
}

input, select, textarea {
    width: 100%;
    border-radius: 0;
}

.apart-persons {
    display: inline;
    width: auto;
    margin-top: 1rem;
}

textarea {
    background-color: white;
    padding: 0.3rem;
    max-width: 100%;
    min-height: 150px;
    outline: none;
    resize: none;
}

input, select, textarea, button, #date {
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    height: 2rem;
    line-height: 1.5;
    cursor: pointer;
}

input:hover, select:hover, textarea:hover, .next-p:hover, .back-p:hover, .next-btn:hover, .back-btn:hover, .sub-btn:hover {
    scale: 1.03;
    transition: 0.2s;
}

input:focus, select:focus, textarea:focus, .next-p:focus, .back-p:focus, .next-btn:focus, .back-btn:focus, .sub-btn:focus {
    scale: 1.03;
    transition: 0.2s;
}

.next-p:hover, .back-p:hover, .next-p:focus, .back-p:focus {
    cursor: pointer;
}

@media (min-width: 300px) {
    .contact-header, .form-header {
        font-size: 1.25rem;
    }

    .contact-logo {
        font-size: .8rem;
    }
}

@media (min-width: 400px) {
    .form {
        padding: 4rem;
    }
}

@media (max-width: 500px) {
    .next-btn, .back-btn {
        display: none;
    }
}

@media (min-width: 500px) {
    .form-section-one {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        min-height: 280px;
    }

    .contact-logo:nth-child(1) {
        grid-column: 1 / -1;
    }

    .contact-logo:not(:nth-child(1)) {
        height: 95px;
    }

    .contact-header {
        font-size: 1.5rem;
    }

    .form {
        padding: 2rem;
    }

    .form-left-right {
        display: flex;
        justify-content: space-between;
    }
    
    .form-left, .form-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
    }

    .next-p, .back-p {
        display: none;
    }
}

@media (min-width: 710px) {
    .form-header {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 3rem;
    }

    .form {
        padding: 3rem 4rem;
    }

    ::placeholder {
        font-size: 0.9rem;
    }
}

@media (min-width: 900px) {    
    .form {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (min-width: 1020px) {
    .form {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 1200px) {    
    .form {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .form-container {
        flex-direction: row;
        padding-left: 5%;
        padding-right: 5%;
    }

    .form-section-one {
        display: flex;
        justify-content: space-between;
        padding: 3rem 2rem 3.5rem;
        width: 30%;
    }

    .contact-logo:not(:nth-child(1)) {
        height: inherit;
    }
    
    .form-section-two {
        width: 70%;
        margin-top: 0;
        min-height: 90vh;
    }
}

/* ===============
   location 
   ===============*/
   
.gries {
    /* border: 3px solid red; */
    background-color: white;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
    
.anreise {
    /* border: 3px solid red; */
    background-color: rgb(220, 230, 250);
    width: 90%;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anreise h1 {
    /* border: 3px solid yellow; */
    font-weight: 100;
    text-transform: uppercase;
}

.anreise-text {
    /* border: 3px solid red; */
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.7;
}

.anreise-text-p {
    /* border: 3px solid rebeccapurple; */
    position: relative;
    background: linear-gradient(transparent 40%, rgba(220, 230, 250) 100%);
    height: 180px;
    overflow: hidden;
}

.anreise-text-p.read-more {
    height: auto;
}

.anreise-text .anreise-text-p::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(transparent, rgba(220, 230, 250));
}

.anreise-text.read-more .anreise-text-p::before {
    display: none;
}

.anreise-text-rm {
    /* border: 3px solid green; */
    font-size: 1rem;
    font-weight: bold;
    text-align: end;
    padding-right: 2rem;
    cursor: pointer;
}

.anreise-text-rm.read-more {
    margin-top: 1rem;
}

.anreise-text-rm:hover, .anreise-text-rm:focus {
    scale: 1.03;
    transition: 0.2s;
}

.anreise-text-rm p::before {
    content: "mehr lesen";
}

.anreise-text-rm.read-more p::before {
    content: "weniger lesen";
}

.anreise-right {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anreise h3  {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: white;
    background-color: rgb(70, 70, 70);
    width: fit-content;
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    letter-spacing: 2px;
    line-height: 1.7;
}

.anreise h3 a {
    color: white;
    text-decoration: none;
}

.googlemaps {
    /* border: 3px solid green; */
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    min-height: 60vh;
    padding: 0.3rem;
    background-color: rgb(70, 70, 70);
}

.googlemaps iframe {
    width: 100%;
    min-height: 60vh;
    border: 0;
}

@media (min-width: 400px) {
    .anreise-text {
        font-size: 1.1rem;
    }
}

@media (min-width: 500px) {
    .anreise {
        padding: 3rem 4rem;
    }

    .anreise-text-p {
        height: 150px;
    }
}

@media (min-width: 625px) {
    .anreise-text-p p {
        max-width: 430px;
    }
}

@media (min-width: 710px) {
    .anreise {
        padding: 3rem;
    }

    .anreise-text-p p {
        max-width: 430px;
    }
}

@media (min-width: 850px) {
    .gries {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 5%;
        padding-right: 5%;
        min-height: fit-content;
    }
    
    .anreise h3 {
        font-size: 0.8rem;
    }

    .googlemaps {
        margin-top: 0;
        min-height: 100%;
    }

    .googlemaps iframe {
        min-height: 100%;
    }
}

@media (min-width: 1200px) {
    .anreise {
        padding: 3rem 4rem;
    }
}

/* ===============
   footer
   ===============*/

.footer-container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 0;
    background: rgb(247, 239, 220);
    color: black;
    font-size: 0.8rem;
    min-height: 40vh;
    padding: 3rem 2rem 0;
}

.footer-top-container {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-child-up {
    /* border: 3px solid blue; */
    font-size: 1rem;
    margin-bottom: 2rem;
}

.top-child-middle {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
}

.footer-loc, .footer-contact {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.footer-i {
    /* border: 3px solid yellow;  */
}

.top-child-middle-loc, .top-child-middle-number, .top-child-middle-email {
    /* border: 3px solid red; */
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.top-child-middle-loc {
    margin-bottom: 0;
}

.top-child-middle-loc i, .top-child-middle-number i, .top-child-middle-email i {
    width: 2rem;
    font-size: 1rem;
}

.top-child-middle-loc p, .top-child-middle-number p, .top-child-middle-email p {
    margin-bottom: 0.3rem;
}

.top-child-down {
    /* border: 3px solid rebeccapurple; */
    background: rgb(247, 239, 220);
    font-size: 0.75rem;
    text-align: center;
    padding-bottom: 1rem;
}

.top-child-down p {
    color: black;
    margin-bottom: 0.2rem;
}

.footer-bottom-container {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    padding: 1rem 0 2rem;
}

.footer-bottom-container-one {
    /* border: 3px solid blue; */
    background-color: white;
    padding: 0.25rem;
    padding-left: 0.15rem;
    width: 25%;
    max-width: 70px;
    margin: 0 auto 2rem;
}

.footer-bottom-container-two {
    /* border: 3px solid blue; */
    background-color: white;
    padding: 0.25rem;
    width: 50%;
    max-width: 150px;
    margin: 0 auto;
}

.footer-bottom-container img {
    display: block;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 300px) {
    .footer-bottom-container {
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .footer-bottom-container-one {
        margin: 0 auto;
    }

    .top-child-down {
        padding-bottom: 1.5rem;
    }
}

@media (min-width: 500px) {
    .footer-container {
        padding: 3.5rem 3rem 0;
    }
}

@media (min-width: 650px) {
    .footer-container {
        flex-direction: row;
    }

    .footer-bottom-container {
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
    }

    .footer-bottom-container-one {
        margin: 0 auto 2rem;
    }
}

@media (min-width: 800px) {
    .footer-bottom-container {
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .footer-bottom-container-one {
        margin: 0 auto;
    }
}

/* ===============
to top
===============*/

.to-top {
    position: fixed;
    bottom: -100%;
    right: 20px;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 999999;
}

.to-top.active {
    bottom: 10px;
}


.to-top img {
    background-color: rgb(200, 200, 200);
    width: 100%;
    max-width: 37px;
    height: 37px;   
    object-fit: cover;
    border-radius: 0.2rem;
    box-shadow: 0 0 5px rgb(100, 100, 100);
}

.to-top img:hover, .to-top img:focus {
    scale: 1.07;
}

/* ===============
apartment
===============*/

.apartment-main {
    background: white;
    font-size: 1rem;
}

.apartment-container {
    width: 90%;
    margin: 0 auto;
}

.apartment-container h1 {
    padding: 2rem 0 1.8rem;
}

.apartment-container-child, .apartment-container-child-last {
    /* border: 3px solid red; */
    font-size: 0.8rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.apartment-container-child-last {
    margin-top: 4rem;
}

/* slide apartment start */

.swiper-pagination-bullet-active {
    background-color: rgb(20, 60, 80) !important;
}

.oans {
    display: flex;
    /* border: 3px solid aqua; */
    max-width: fit-content;
    width: 100%;
    padding: 40px 0;
}

.zwoa {
    /* border: 3px solid rebeccapurple; */
    margin: 0 5px 40px;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

.drei {
    /* border: 3px solid green; */
}

.vier {
    /* border: 3px solid blue; */
}

.vier img {
    /* border: 3px solid yellow; */
    display: block;
    max-width: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-nextBtn {
    /* border: 3px solid red; */
    display: none;
    width: 2rem;
    height: 2rem;
    transform: rotate(90deg);
    order: 3;
    align-self: center;
    justify-self: start;
    transition: all 0.3s;
    margin-bottom: 0.8rem;
    cursor: pointer;
}

.swiper-backBtn {
    /* border: 3px solid red; */
    display: none;
    width: 2rem;
    height: 2rem;
    transform: rotate(270deg);
    order: -1;
    align-self: center;
    justify-self: start;
    transition: all 0.3s;
    cursor: pointer;
}

.swiper-nextBtn:hover, .swiper-backBtn:hover {
    scale: 1.1;
}

.swiper-backBtn img, .swiper-nextBtn img {
    display: block;
    width: 2rem;
    height: 2rem;
    object-fit: cover;    
}

@media (min-width: 450px) {
    .swiper-backBtn, .swiper-nextBtn {
        display: inherit;
    }
}

@media (min-width: 710px) {
    .swiper-backBtn, .swiper-nextBtn {
        display: none;
    }
}

@media (min-width: 900px) {
    .swiper-backBtn, .swiper-nextBtn {
        display: inherit;
    }
}

@media (min-width: 1020px) {
    .swiper-backBtn, .swiper-nextBtn {
        display: none;
    }
}

@media (min-width: 1200px) {
    .swiper-backBtn, .swiper-nextBtn {
        display: inherit;
    }
}

/* slide apartment end */



.apartment-info {
    /* border: 3px solid pink; */
    width: 100%;
    max-width: 400px;
}

.apartment-info-header p {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 2.5rem 0 1.5rem;
}

.apartment-info-child {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1pt solid rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;  
}

.apartment-info-child-bed, .apartment-info-child-kitchen, .apartment-info-child-bath {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

.apartment-info-child img {
    width: 100%;
    max-width: 24px;
    object-fit: cover;
}

.apartment-info-child p {
    line-height: 1.5;
}

.category {
    margin-left: 0.3rem;
}

.apartment-info-child span {
    text-transform: uppercase;
    font-weight: bold;
}

.show-text-bed, .show-text-kitchen, .show-text-bath {
    opacity: 0;
    height: 0;
}

.show-text-bed.show, .show-text-kitchen.show, .show-text-bath.show {
    height: auto;
    opacity: 1;
    width: 100%;
    padding: 0.8rem;
    padding-left: 1.8rem;
    letter-spacing: 0.3px;
}

.img-arrow-bed, .img-arrow-kitchen, .img-arrow-bath {
    margin-left: auto;
    transform: rotate(180deg);
    transition: all 0.3s;
}

.img-arrow-bed.show, .img-arrow-kitchen.show, .img-arrow-bath.show {
    transform: inherit;
}

.show-text-bed2, .show-text-kitchen2, .show-text-bath2 {
    opacity: 0;
    height: 0;
}

.show-text-bed2.show, .show-text-kitchen2.show, .show-text-bath2.show {
    opacity: 1;
    height: auto;
    width: 100%;
    padding: 0.8rem;
    padding-left: 1.8rem;
    letter-spacing: 0.3px;
}

.img-arrow-bed2, .img-arrow-kitchen2, .img-arrow-bath2 {
    margin-left: auto;
    transform: rotate(180deg);
    transition: all 0.3s;
}

.img-arrow-bed2.show, .img-arrow-kitchen2.show, .img-arrow-bath2.show {
    transform: inherit;
}

/* price start */

.apartment-container-price {
    /* border: 3px solid red; */
    background-color: rgb(220, 230, 250);
    margin-top: 2rem;
    padding: 1.3rem;
}

.apartment-container-price h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.apartment-price-box {
    /* border: 3px solid pink; */
    font-size: 0.8rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin: 1rem 0;
}

.price-box-top {
    /* border: 3px solid rebeccapurple; */
    padding: 0.3rem;
}

.price-box-bottom {
    border: 1px solid black;
    margin-top: 0.5rem;
}

.price-box-bottom-child {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: row;

}

.price-box-bottom-left {
    border: 1pt solid rgba(0, 0, 0, 0.3);
    width: 50%;
}

.price-box-bottom-right {
    border: 1pt solid rgba(0, 0, 0, 0.3);
    width: 50%;    
}

.price-box-bottom-left p, .price-box-bottom-right p {
    padding: 0.3rem;
}

/* price end */

.apartment-container:last-child {
    padding-bottom: 2rem;
}

@media (min-width: 335px) {
    .apartment-container-child,
    .apartment-container-child-last,
    .apartment-price-box {
        font-size: 0.9rem;
    }

    .category {
        margin-left: 1rem;
    }

    .show-text-bed.show, .show-text-kitchen.show, .show-text-bath.show {
        padding-left: 2.5rem;
    }

    .apartment-container-price {
        padding: 2rem;
    }
}

@media (min-width: 400px) {
    .apartment-container {
        font-size: 1.1rem;
    }

    .apartment-container h1 {
        padding: 2rem 0;
    }
}

@media (min-width: 710px) {
    .apartment-container-child {
        /* border: 3px solid yellow; */
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .apartment-container-child-last {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    .apartment-info-header p {
        margin: 0 0 1.5rem;
    }

    .oans, .apartment-info {
        width: 47%;
    }
}

@media (min-width: 900px) {
    .apartment-container-child, .apartment-container-child-last {
        justify-content: space-around;
    }
}

@media (min-width: 1020px) {
    .apartment-container-child, .apartment-container-child-last {
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .apartment-container-child, .apartment-container-child-last {
        justify-content: space-around;
    }
}

/* ===============
winter
===============*/

.main-container-winter {
    min-height: 65vh;
    background-image: url(images/ötztal-tvb/winter.webp);
    background-size: cover;
    background-position: center;
    background-color: rgb(120, 120, 120);   
}

.copyright-container-winter {
    /* border: 3px solid yellow; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: black;
    padding: 1rem;
    margin-top: -77px;
}

.copyright-container-winter h1 {
    text-shadow: 0px 0px 2px white;
}

.copyright {
    /* border: 3px solid red; */
    display: flex;
    padding: 0.2rem;
    cursor: pointer;
    align-self: center;
}

.copyright.show {
    background-color: rgba(0, 0, 0, 0.9);
}

.copyright-p {
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.3rem;
    display: none;
}

.copyright-p.show {
    display: inherit;
}

.fa-camera {
    font-size: 0.6rem;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    align-self: center;
}

.fa-camera.show {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0.3rem;
}

.winter-main {
    background: white;
    font-size: 1rem;
}

.winter-container {
    /* border: 3px solid red; */
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0 2rem;
}

.winter-child, .winter-child-reverse {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
}

.winter-child:not(:first-of-type),
.winter-child-reverse {
    margin-top: 4rem;
}

.winter-child-left {
    /* border: 3px solid blue; */
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

.winter-child-left img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.winter-child-left iframe {
    /* border: 3px solid green; */
    height: calc((100vw*0.9)*0.5625);
    max-height: 225px;
    width: 100%;
    object-fit: cover;
}

.winter-child-right {
    /* border: 3px solid green; */
}

.winter-child-right h2 {
    font-size: 1.3rem;
    margin: 2rem 0 1.5rem;
}

.winter-child-right p {
    font-size: 0.9rem;
    line-height: 1.5;
    letter-spacing: 0.7px;
}

@media (min-width: 400px) {
    .winter-container {
        font-size: 1.1rem;
    }

    .winter-child-right p {
        font-size: 1rem;
    }
}

@media (min-width: 710px) {
    .winter-child {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .winter-child-reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    .winter-child-left, .winter-child-right {
        width: 48%;
    }

    .winter-child-left {
        margin: 0;
    }

    .winter-child-left iframe {
        height: calc(((100vw*0.9)*0.48)*0.5625);
    }

    .winter-child-right h2 {
        margin: 0 0 1.5rem;
    }
}

@media (min-width: 1020px) {
    .winter-child-left iframe {
        max-height: 200px;
    }
}

@media (min-width: 1200px) {
    .winter-child-left iframe {
        max-height: 225px;
    }
}

/* ===============
summer
===============*/

.main-container-summer {
    min-height: 65vh;
    background-image: url(images/ötztal-tvb/sommer2.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(120, 120, 120);   
}

.copyright-container-summer {
    /* border: 3px solid yellow; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
    padding: 1rem;
    margin-top: -77px;
}

.copyright-container-summer h1 {
    text-shadow: 0px 0px 4px black;
}

.copyright {
    /* border: 3px solid red; */
    display: flex;
    padding: 0.2rem;
    cursor: pointer;
    align-self: center;
}

.copyright.show {
    background-color: rgba(0, 0, 0, 0.9);
}

.copyright-p {
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.3rem;
    display: none;
}

.copyright-p.show {
    display: inherit;
}

.fa-camera {
    font-size: 0.6rem;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    align-self: center;
}

.fa-camera.show {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0.3rem;
}

.summer-main {
    background: white;
    font-size: 1rem;
}

.summer-container {
    /* border: 3px solid red; */
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0 2rem;
}

.summer-child, .summer-child-reverse {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.summer-child:not(:first-of-type),
.summer-child-reverse {
    margin-top: 4rem;
}

.summer-child-left {
    /* border: 3px solid blue; */
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

.summer-child-left img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.summer-child-left iframe {
    /* border: 3px solid yellow; */
    height: calc((100vw*0.9)*0.5625);
    max-height: 225px;
    width: 100%;
}

.summer-child-right {
    /* border: 3px solid green; */
    overflow: hidden;
}

.summer-child-right h2 {
    font-size: 1.3rem;
    margin: 2rem 0 1.5rem;
}

.summer-child-right p {
    font-size: 0.9rem;
    line-height: 1.5;
    letter-spacing: 0.7px;
}

.hier {
    color: rgb(20, 60, 80);
    font-weight: bold;
}

@media (min-width: 400px) {
    .summer-container {
        font-size: 1.1rem;
    }

    .summer-child-right p {
        font-size: 1rem;
    }
}

@media (min-width: 710px) {
    .summer-child {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .summer-child-reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    .summer-child-left, .summer-child-right {
        width: 48%;
    }
    
    .summer-child-left {
        margin: 0;
    }

    .summer-child-left iframe {
        height: calc(((100vw*0.9)*0.48)*0.5625);
    }

    .summer-child-right h2 {
        margin: 0 0 1.5rem;
    }
}

@media (min-width: 1020px) {
    .summer-child-left iframe {
        max-height: 200px;
    }
}

@media (min-width: 1200px) {
    .summer-child-left iframe {
        max-height: 225px;
    }
}

/* ===============
galery
===============*/

.galery-main {
    background: white;
    font-size: 1rem;
}

.galery-container {
    width: 90%;
    margin: 0 auto;
}

.galery-container h1 {
    padding: 2rem 0 1.8rem;
}

.galery-pic-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, minmax(20px, 1fr));
    grid-auto-rows: 230px;
    grid-auto-flow: dense;
}

.galery-pic-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.normal-pic {
    /* border: 3px solid red; */
    overflow: hidden;
    grid-column: span 6;
}

.vertical-pic {
    /* border: 3px solid green; */
    overflow: hidden;
    grid-column: span 3;
    grid-row: span 2;
}

.horizontal-pic {
    /* border: 3px solid blue; */
    overflow: hidden;
    grid-column: span 6;
}

.normal-pic img,
.vertical-pic img,
.horizontal-pic img {
    transition: 0.5s ease-in-out;
}

.normal-pic:hover img,
.vertical-pic:hover img,
.horizontal-pic:hover img {
    transform: scale(1.2);
}

.normal-pic:focus img,
.vertical-pic:focus img,
.horizontal-pic:focus img {
    transform: scale(1.2);
}

.galery-container:last-child {
    padding-bottom: 2rem;
}

@media (min-width: 400px) {
    .galery-container {
        font-size: 1.1rem;
    }

    .galery-container h1 {
        padding: 2rem 0;
    }
}

@media (min-width: 500px) {
    .normal-pic {
        grid-column: span 3;
    }
}

@media (min-width: 700px) {
    .normal-pic {
        grid-column: span 2;
    }

    .vertical-pic {
        grid-column: span 2;
    }

    .horizontal-pic {
        grid-column: span 4;
    }

    .stimmung6-resize {
        grid-column: span 2;
    }
}

@media (min-width: 1350px) {
    .horizontal-pic {
        grid-column: span 2;
    }

    .stimmung1-resize {
        grid-column: span 6;
    }
}
    
/* ===============
Impressum
===============*/

.impressum-main {
    background: white;
    font-size: 1rem;
}

.impressum-container {
    width: 90%;
    margin: 0 auto;
}

.impressum-container h1 {
    padding: 1.8rem 0;
}

.impressum-child-container p:not(:last-of-type) {
    margin-bottom: 0.7rem;
}

.impressum-child-container p:last-of-type {
    padding-bottom: 2rem;
}

.impressum-br-copywright {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
}

.impressum-br-copywright-child {
    /* border: 3px solid green; */
    width: 100%;
}

.impressum-br-copywright p {
    font-size: 0.85rem;
}

.impressum-br-copywright p:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

.impressum-br-copywright p:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0.7rem;
}

.contact-number-impressum, .contact-email-impressum, .website {
    color: black;
}

.y-lam {
    color: black;
    text-decoration: none;
}

.contact-number-impressum:hover,
.contact-number-impressum:focus,
.contact-email-impressum:hover,
.contact-email-impressum:focus,
.website:hover,
.website:focus,
.y-lam:hover,
.y-lam:focus {
    font-size: 1.03rem;
}

@media (min-width: 400px) {
    .impressum-container {
        font-size: 1.1rem;
    }

    .impressum-container h1 {
        padding: 2rem 0;
    }

    .contact-number-impressum:hover,
    .contact-number-impressum:focus,
    .contact-email-impressum:hover,
    .contact-email-impressum:focus,
    .website:hover,
    .website:focus,
    .y-lam:hover,
    .y-lam:focus {
        font-size: 1.13rem;
    }
}

@media (min-width: 700px) {
    .impressum-br-copywright {
        flex-direction: row;
    }

    .impressum-br-copywright-child {
        width: 50%;
    }
}