@font-face {
    font-family: myFont;
    src: url(fonts/asenine.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* ===============
   Scroll Stuff
   ===============*/

/* .scroll-down .header {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .header {
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
} */

/* ===============
   header 
   ===============*/

.scroll-margin {
    scroll-margin-top: 70px;
}

header {
    /* border: 3px solid red; */
    width: 100%;
    position: fixed;
    /* position: relative; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

.container {
    /* border: 3px solid rebeccapurple; */
    background: rgb(20, 60, 80);
    /* background: linear-gradient(rgb(220, 235, 255) 0%, rgba(220, 235, 255, 0.7) 60%, rgba(255, 255, 255, 0.1)); */
    box-shadow: 0 0 20px rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0.7rem;
}

.site-title a {
    color: white;
    text-decoration: none;
}
   
.site-title h1 {
    /* border: 3px solid yellow; */
    font-family: myFont;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

/* .logo-agnesn {
    width: 100%;
    max-width: 100px;    
    object-fit: cover;
} */

.top{
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
    z-index: 9999;
}

.nav-btn{
    position: relative;
    /* right: 4vw; */
    z-index: 2;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

#bar2, #bar3{
    margin-top: 4px;
}

.navigation{
    /* border: 3px solid blue; */
    position: fixed;
    top: 0;
    /* right: 0; */
    right: -100%;
    width: 100vw;
    height: 100vh;
    background: white;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.nav {
    /* border: 3px solid yellow; */
    background: white;
    position: absolute;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    top: 8.2rem;
    left: 0;
    right: 0;
}

.navigation ul li {
    /* border: 3px solid green; */
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    text-align: left;
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 0.7rem;
    padding-bottom: 0.8rem;
    margin: 1.3rem 0 0;
    border-bottom: 1pt solid black;
}

.a-two {
    text-decoration: none;
    color: black;
}

.a-two, .hamburger {
    cursor: pointer;
}

.nav ul li:hover {
    color: rgb(10, 100, 170);
    border-bottom: 3px solid rgb(20, 60, 80);
    font-size: 0.9rem;
    transition: 0.1s;
}

.hamburger.bar{
    position: fixed;
}

.hamburger{
    border: 0;
    /* border: 1px solid yellow; */
    background: 0;
}

.navigation.active{
    right: 0;
    box-shadow: 0 0 20px rgb(100, 100, 100);
}

.hamburger.open #bar1{
    /* background-color: white; */
    transform: rotate(45deg) translate(4px, 6px);
}

.hamburger.open #bar2{
    background-color: transparent;
    transform: translateX(-30px);
}

.hamburger.open #bar3{
    /* background-color: white; */
    transform: rotate(-45deg) translate(4px, -6px);
}

@media (min-width: 260px) {
    .nav {
        top: 7.3rem;
    }
}

@media (min-width: 330px) {
    header {
        height: 70px;
    }

    .container {
        text-align: start;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5%;
    }
    

    .site-title h1 {
        font-size: 1.8rem;
        text-align: left;
    }
    
    .top {
        margin-top: 0;
    }

    .nav {
        top: 6.3rem;
    }

    .navigation ul li{
        font-size: 0.9rem;
        padding-left: 1rem;
        margin: 1.5rem 1.5rem 0;
    }

    .nav ul li:hover, .nav ul li:focus {
        font-size: 0.97rem;
    }
}

@media (min-width: 380px) {
    .site-title h1 {
        font-size: 2rem;
    }

    .navigation ul li{
        font-size: 1rem;
        margin: 1.7rem 1.7rem 0;
    }

    .nav ul li:hover, .nav ul li:focus {
        font-size: 1.07rem;
    }
}

@media (min-width: 450px) {
    .navigation{
        width: 300px;
    }
}

@media (min-width: 710px) {
    .site-title h1 {
        font-size: 2.2rem;
    }
}

/* ===============
slide show 
===============*/

.main-container {
    /*!!! ACHTUNG !!! Unbedingt Border aktiv lassen falls slide nicht funktioniert !! */
    /* border: 0.0000000000001pt solid black; */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

.main-one, .main-two, .main-three, .main-four, .main-five {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-color: rgb(120, 120, 120);
/*FÜR BLEND-MODE IMMER AUCH BACKGROUND COLOR VERWENDEN!*/
    background-blend-mode: multiply;
    height: 100%;
    width: 100%;
    z-index: -9999999;
}

.main-one {
    /* border: 3px solid blueviolet; */
    background-image: url(images/gries-neu.jpeg);
    animation: cool1 20s ease-in-out infinite;
}
.main-two {
    /* border: 3px solid orangered; */
    background-image: url(images/haus-neu.jpeg);
    animation: cool2 20s ease-in-out infinite;
}
.main-three {
    /* border: 3px solid green; */
    background-image: url(images/küche.jpeg);
    animation: cool3 20s ease-in-out infinite;
}
.main-four {
    /* border: 3px solid yellow; */
    background-image: url(images/schlafzimmer-neu.jpeg);
    animation: cool4 20s ease-in-out infinite;
}
.main-five {
    /* border: 3px solid red; */
    background-image: url(images/bad.jpeg);
    animation: cool5 20s ease-in-out infinite;
}

.slide-container {
    /* border: 3px solid red; */
    max-width: 600px;
    margin: 0 auto;
    min-height: fit-content;
    overflow: hidden;
    position: relative;
    top: 0;
}

.slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.slide1 {
    display: block;
    width: 100%;
    object-fit: cover;
    position: relative;
    animation: cool1 20s ease-in-out infinite;
}

.slide2 {
    animation: cool2 20s ease-in-out infinite;
}

.slide3 {
    animation: cool3 20s ease-in-out infinite;
}

.slide4 {
    animation: cool4 20s ease-in-out infinite;
}

.slide5 {
    animation: cool5 20s ease-in-out infinite;
}

@keyframes cool1 {
    0% {right: 0%;}
    24% {right: 0%;}
    25% {right: -100%;}
    96% {right: -100%;}
    100% {right: 0%;}
}

@keyframes cool2 {
    0% {right: -100%;}
    16% {right: -100%;}
    20% {right: 0%;}
    96% {right: 0%;}
    100% {right: 100%;}
}

@keyframes cool3 {
    0% {right: -100%;}
    36% {right: -100%;}
    40% {right: 0%;}
    96% {right: 0%;}
    100% {right: 100%;}
}

@keyframes cool4 {
    0% {right: -100%;}
    56% {right: -100%;}
    60% {right: 0%;}
    96% {right: 0%;}
    100% {right: 100%;}
}

@keyframes cool5 {
    0% {right: -100%;}
    76% {right: -100%;}
    80% {right: 0%;}
    96% {right: 0%;}
    100% {right: 100%;}
}

/*==================
@media - slide show 
==================*/

@media (min-width: 900px) {
    /* .main-container {
        min-height: 100vh;
    } */

    .slide-container {
        margin: 70px auto 40px;
        box-shadow: 0 0 20px rgb(170, 170, 170);
    }
    /* .slide-container {
        width: 50VW;
        overflow: inherit;
    }

    @keyframes cool1 {
        0% {right: -100%;}
        100% {right: -100%;}
    }

    .slide2, .slide3, .slide5 {
        z-index: -9999;
    }

    @keyframes cool2 {
        0% {right: 0%;}
        100% {right: 0%;}
    }
    
    @keyframes cool3 {
        0% {right: -100%;}
        21% {right: -100%;}
        25% {right: 0%;}
        96% {right: 0%;}
        100% {right: 100%;}
    }
    
    @keyframes cool4 {
        0% {right: -200%;}
        46% {right: -200%;}
        50% {right: -100%;}
        96% {right: -100%;}
        100% {right: 100%;}
    }
    
    @keyframes cool5 {
        0% {right: -100%;}
        71% {right: -100%;}
        75% {right: 0%;}
        96% {right: 0%;}
        100% {right: 100%;}
    } */
}

/* ===============
   contact form 
   ===============*/

.form-container {
    background-color: white;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.form-section-one {
    /* border: 3px solid red; */
    width: 90%;
    margin: 0 auto;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    padding: 2rem;
    background-color: rgb(220, 230, 250);
}

.contact-logo {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.contact-logo-div {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.contact-header {
    font-size: 1.25rem;
    letter-spacing: 1px;
}

.contact-logo img {
    /* border: 3px solid rebeccapurple; */
    width: 100%;
    max-width: 30px;
    margin-bottom: 0.6rem;
}

.contact-logo p {
    /* border: 3px solid yellow; */
    font-weight: bold;
    margin-bottom: 0.1rem;
    text-align: center;
}

.contact-logo-home {
    text-decoration: none;
    color: black;
}

.form-section-two {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;

    /* border: 3px solid red; */
    overflow: hidden;
    height: fit-content;
    background-color: rgb(247, 239, 220);
}

.form-section-two-container {
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    width: 200%;
    transition: 0.7s;
}

.form {
    /* border: 3px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}

.form-top {
    /* border: 3px solid brown; */
    letter-spacing: 1px;
}

.form-header {
    font-size: 1.25rem;
}

.form-left-right {
    /* border: 3px solid orangered; */
    height: auto;
    margin-bottom: 1rem;
}

.form-left {
    /* border: 3px solid green; */
    width: 100%;
    max-width: 300px;
}

.form-right {
    /* border: 3px solid blue; */
    width: 100%;
    max-width: 300px;
}

.form-bottom {
    /* border: 3px solid black; */
    display: flex;
    height: fit-content;
    margin-top: auto;
}

.form-header {
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

input, select, textarea {
    border: 1px solid black;
    display: flex;
    background: 0;
    padding: 0.3em;
    margin-top: 0.5em;
    outline: none;
}

input, select {
    width: 100%;
    border-radius: 0;
}

.apart-persons {
    display: inline;
    width: auto;
    margin-top: 1rem;
}

textarea {
    background-color: white;
    padding: 0.3rem;
    width: 100%;
    max-width: 100%;
    min-height: 150px;
    outline: none;
    resize: none;
}

::placeholder {
    font-style: italic;
    font-size: 0.8rem;
    color: rgb(150, 150, 150);
}

.next-p, .back-p, .next-btn, .back-btn {
    font-size: 0.8rem;
    padding: 0.35em 0.5rem;
    width: fit-content;
    height: fit-content;
    border-bottom: 1px solid black;
    letter-spacing: 0.6px;
    font-weight: bold;
}

.next-btn, .back-btn {
    background: 0;
    color: black;
    font-weight: bold;
    padding: 0.2em 0.5rem;
    border: none;
    border-bottom: 1px solid black;
}

.next-p a, .back-p a {
    color: black;
    text-decoration: none;
}

.next-btn, .next-p {
    margin-left: auto;
}

.back-btn, .back-p {
    margin-right: auto;
}

.sub-btn {
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 170);
    padding: 0.4rem 0.9rem;
    letter-spacing: 0.8px;
}

input, select, textarea, button, #date {
    font-size: 0.8rem;
    font-weight: bold;
    height: 1.8rem;
    line-height: 1.5;
    cursor: pointer;
}

input:hover, select:hover, textarea:hover, .next-p:hover, .back-p:hover, .next-btn:hover, .back-btn:hover, .sub-btn:hover {
    scale: 1.03;
    transition: 0.2s;
}

input:focus, select:focus, textarea:focus, .next-p:focus, .back-p:focus, .next-btn:focus, .back-btn:focus, .sub-btn:focus {
    scale: 1.03;
    transition: 0.2s;
}

.next-p:hover, .back-p:hover, .next-p:focus, .back-p:focus {
    cursor: pointer;
}

@media (min-width: 300px) {
    .contact-header, .form-header {
        font-size: 1.25rem;
    }

    .contact-logo {
        font-size: .8rem;
    }
}

@media (min-width: 400px) {
    .form {
        padding: 4rem;
    }
}

@media (max-width: 500px) {
    .next-btn, .back-btn {
        display: none;
    }
}

@media (min-width: 500px) {
    .form-section-one {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        min-height: 50vh;
    }

    .contact-logo:nth-child(1) {
        grid-column: 1 / -1;
    }

    .contact-logo:not(:nth-child(1)) {
        height: 95px;
    }

    .contact-header {
        font-size: 1.5rem;
    }

    .form {
        padding: 2rem;
    }

    .form-left-right {
        display: flex;
        justify-content: space-between;
    }
    
    .form-left, .form-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
    }

    .next-p, .back-p {
        display: none;
    }
}

@media (min-width: 710px) {
    .form-container {
        flex-direction: row;
        padding-left: 5%;
        padding-right: 5%;
    }

    .form-section-one {
        display: flex;
        justify-content: space-between;
        padding: 3rem 2rem 3.5rem;
        width: 30%;
    }

    .contact-logo:not(:nth-child(1)) {
        height: inherit;
    }
    
    .form-section-two {
        width: 70%;
        margin-top: 0;
        min-height: 90vh;
    }

    .form-header {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 3rem;
    }

    .form {
        padding: 3rem 4rem;
    }

    ::placeholder {
        font-size: 0.9rem;
    }
}

@media (min-width: 900px) {
    .form-container {
        font-size: 1.2rem;
    }
    
    .form {
        padding-left: 6rem;
        padding-right: 6rem;
    }
} 

/* ===============
   location 
   ===============*/
   
.gries {
    /* border: 3px solid red; */
    background-color: white;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
    
.anreise {
    /* border: 3px solid blue; */
    background-color: rgb(220, 230, 250);
    width: 90%;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anreise h1 {
    font-weight: 100;
    text-transform: uppercase;
}

.anreise-text {
    /* border: 3px solid red; */
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.7;
}

.anreise-text-p {
    /* border: 3px solid rebeccapurple; */
    position: relative;
    background: linear-gradient(transparent 40%, rgba(220, 230, 250) 100%);
    height: 180px;
    overflow: hidden;
}

.anreise-text-p.read-more {
    height: auto;
}

.anreise-text .anreise-text-p::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(transparent, rgba(220, 230, 250));
}

.anreise-text.read-more .anreise-text-p::before {
    display: none;
}

.anreise-text-rm {
    /* border: 3px solid green; */
    font-size: 1rem;
    font-weight: bold;
    text-align: end;
    padding-right: 2rem;
    cursor: pointer;
}

.anreise-text-rm.read-more {
    margin-top: 1rem;
}

.anreise-text-rm:hover, .anreise-text-rm:focus {
    scale: 1.03;
    transition: 0.2s;
}

.anreise-text-rm p::before {
    content: "mehr lesen";
}

.anreise-text-rm.read-more p::before {
    content: "weniger lesen";
}

.anreise h3  {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: white;
    background-color: rgb(70, 70, 70);
    width: fit-content;
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    letter-spacing: 2px;
    line-height: 1.7;
}

.anreise h3 a {
    color: white;
    text-decoration: none;
}

.googlemaps {
    /* border: 3px solid green; */
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    min-height: 50vh;
    padding: 0.3rem;
    background-color: rgb(70, 70, 70);
}

.googlemaps iframe {
    width: 100%;
    min-height: 50vh;
    border: 0;
}

@media (min-width: 400px) {
    .anreise-text {
        font-size: 1.1rem;
    }
}

@media (min-width: 500px) {
    .anreise {
        padding: 3rem 4rem;
    }

    .anreise-text-p {
        height: 150px;
    }
}

@media (min-width: 710px) {
    .gries {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 5%;
        padding-right: 5%;
        min-height: fit-content;
    }

    .anreise {
        padding: 3rem;
    }

    .googlemaps, .anreise {
        width: 50%;
    }


    .googlemaps {
        margin-top: 0;
        min-height: 100%;
    }

    .googlemaps iframe {
        min-height: 100%;
    }
}

@media (min-width: 900px) {
    .anreise {
        padding: 3rem 4rem;
    }

    .anreise h3 {
        font-size: 0.8rem;
    }
}

/* ===============
   footer
   ===============*/

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    background: rgb(20, 60, 80);
    color: rgb(160, 160, 160);
    font-size: 0.8rem;
    padding: 1.5em 0;
}

.footer-title {
    color: rgb(200, 200, 200);
    margin-bottom: 0.1rem;
}

/* ===============
Impressum
===============*/

.impressum-main {
    background: white;
    font-size: 1rem;
}

.impressum-container {
    width: 90%;
    margin: 0 auto;
}

.impressum-container h1 {
    padding: 1.8rem 0;
}

.impressum-child-container p:not(:last-of-type) {
    margin-bottom: 0.7rem;
}

.impressum-child-container p:last-of-type {
    margin-bottom: 2rem;
}

#phone-text {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media (min-width: 400px) {
    .impressum-container {
        font-size: 1.1rem;
    }

    .impressum-container h1 {
        padding: 2rem 0;
    }
}